asgiref==3.5.2
autopep8==1.6.0
boto3==1.24.24
botocore==1.27.24
dj-database-url==0.5.0
Django==4.0.6
django-heroku==0.3.1
gunicorn==20.1.0
jmespath==1.0.1
psycopg2==2.9.3
pycodestyle==2.8.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.10
whitenoise==6.2.0
