body{
    background-color:grey;
    display:flex;
    min-height: 100vh;
    flex-direction:column;
    background-image: url("synth1.png");
    color:white;
}

main{
    flex:1 0 auto;
}

footer{
    padding-top:10;
    text-align:right;
}

.contain { 
    background-color:#f1f8e9;  
    height:50vh;
    border-radius: 8%;
}

